.hero {
    background-image: url(./ewastebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero::before { /* Create a semi-transparent overlay */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value for opacity */
}